* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_2 {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110vh;
  padding-top: 5%;
}

.text_button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-1 {
  width: 80%;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: auto;
  gap: 12.5%;
}

.upper_div_text {
  padding: auto;
  color: white;
}

.upper_div_button {
  padding: auto;
}


.cards_container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: auto;
  justify-content: center;
}

.section_2_images {
  width: 80%;
  border-radius: 20px;
  transition: 0.3s ease;
}

.section_2_card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card_text h4 {
  color: white;
  padding-top: 20%;
  font-size: 2vw;
}

.lower_container h2 {
  text-align: center;
  color: white;
  font-size: clamp(12px, 3vw, 30px);
}

.lower_container {
  width: 70%;
  display: flex;
}

.section_2_images:hover {
  scale: 110%;
  cursor: pointer;
}

.game_details_overlay {
  display: flex;
  position: fixed;
  width: 50vw;
  height: 80vh;
  background-color: black;
  color: white;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 8px;
  z-index: 9999;
  bottom: 50px;
  justify-content: center;
  align-items: center;
}

.game_details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  column-gap: 20%;
  width: 80vw;
}


.close_button_section_2{
  background-color: transparent;
  color: white;
  border: none;
  width: 2vw;
  justify-self: end;
  transition: 0.3s ease;
  cursor: pointer;
  margin-left: 90%;
  position: sticky;
  top: 5%;

}

.close_button_section_2:hover{
  color: #e87d0e;
}

.game_details h3{
  color: #e87d0e;
}

.game_details p{
  width: 40vw;
}


.game_details{
  margin-top: 200px;
}

.game_details_overlay::-webkit-scrollbar {
  width: 4px;
  background-color: black;
  border-radius: 8px;
  position: relative;
  display: none;

}

.game_details_overlay::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e87d0e;
  display: none;
}



@media only screen and (max-width: 480px) {
  .section_2 {
    height: 350px;
    padding-top: 0;
  }
  .text_button {
    font-size: 8px;
  }

  .text_button h2 {
    font-size: 12px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .section_2 {
    height: 650px;
    padding-top: 2%;
  }

  
}
